Repository nthomsencph/wikiworlds: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                frontend/openapi\.json|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                frontend/openapi\.json
            )$
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: "^frontend/.*\\.(jsx?|tsx?|ts|js)$"
        pass_filenames: false
      - id: frontend-format
        name: Frontend Prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: "^frontend/.*\\.(jsx?|tsx?|ts|js|json|css|md)$"
        pass_filenames: false

ci:
  autofix_commit_msg: ðŸŽ¨ [pre-commit.ci] Auto format from pre-commit.com hooks
  autoupdate_commit_msg: â¬† [pre-commit.ci] pre-commit autoupdate

updates and docs
  README.md
  development.md
  docker-compose.override.yml
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
Due: frontend-format

fixes playwright workflow
  frontend/Dockerfile.playwright
Due: none

bumps deps
  .github/workflows/labeler.yml
  .github/workflows/lint-backend.yml
  .github/workflows/playwright.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  backend/.python-version
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.override.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: frontend-format

fix playwright workflow
  .github/workflows/playwright.yml
Due: none

defeating fn dependabot
  .github/dependabot.yml
  .github/workflows/dependabot.yml
  .github/workflows/playwright.yml
  .pre-commit-config.yaml
  backend/app/core/config.py
Due: none

tests..
  backend/app/tests/scripts/test_backend_pre_start.py
  backend/app/tests/scripts/test_test_pre_start.py
Due: none

adds condition to deployment workflows
  .github/DEPLOYMENT_SECRETS.md
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

satisfies mypy
  backend/app/tests/api/routes/test_users.py
Due: none

satisfies mypy
  backend/app/tests/conftest.py
Due: none

test
  .gitignore
Due: none

adds npm dev env in override and updates frontend layout
  docker-compose.override.yml
  frontend/Dockerfile
  frontend/src/app/(protected)/admin/page.tsx
  frontend/src/app/(protected)/items/page.tsx
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/SidebarItems.tsx
Due: frontend-lint, frontend-format

Update .env
  .env
Due: none

updates to template
  .copier/.copier-answers.yml.jinja
  .copier/update_dotenv.py
  CLAUDE.md
  README.md
  backend/app/tests/conftest.py
  copier.yml
  docs/deployment.md
  docs/development.md
Due: none

fixes tree view
  frontend/components.json
  frontend/src/app/(protected)/weaves/[weaveId]/page.tsx
  frontend/src/app/(protected)/weaves/[weaveId]/worlds/[worldId]/entries/[entryId]/page.tsx
  frontend/src/app/(protected)/weaves/[weaveId]/worlds/[worldId]/entries/create/page.tsx
  frontend/src/app/(protected)/weaves/[weaveId]/worlds/[worldId]/entry-types/page.tsx
  frontend/src/app/(protected)/weaves/[weaveId]/worlds/[worldId]/page.tsx
  frontend/src/app/(protected)/weaves/page.tsx
  frontend/src/components/AnimatedList.css
  frontend/src/components/AnimatedList.tsx
  frontend/src/components/Common/UserMenu.tsx
  frontend/src/components/Common/WeaveNavbar.tsx
  frontend/src/components/Dock.css
  frontend/src/components/Dock.tsx
  frontend/src/components/LiquidEther.tsx
  frontend/src/components/Masonry.css
  frontend/src/components/Masonry.tsx
  frontend/src/components/Weaves/CreateEntryTypeModal.tsx
  frontend/src/components/Weaves/CreateWeaveModal.tsx
  frontend/src/components/Weaves/DeleteWeaveModal.tsx
  frontend/src/components/Weaves/EntryTypeSelector.tsx
  frontend/src/components/Weaves/WeaveSelector.tsx
  frontend/src/components/Worlds/CreateWorldModal.tsx
  frontend/src/components/editor/SimpleEditor.tsx
  frontend/src/components/editor/editor.css
  frontend/src/components/ui/provider.tsx
  frontend/src/components/ui/world-card.css
  frontend/src/components/ui/world-card.tsx
Due: frontend-lint, frontend-format

sign-up flow
  backend/app/api/deps_worldbuilding.py
  frontend/src/app/(protected)/weaves/[weaveId]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Weaves/CreateWeaveModal.tsx
  frontend/src/hooks/useAuth.ts
Due: frontend-lint, frontend-format

canoodiling
  backend/app/alembic/versions/0eb1e4f28bb9_add_last_active_at_to_user.py
  backend/app/alembic/versions/0fdeee3ae7d9_add_default_weave_id_to_user.py
  backend/app/alembic/versions/544389102861_add_last_accessed_weave_id_to_user.py
  backend/app/api/deps.py
  backend/app/api/routes/users.py
  backend/app/db/crud/weave.py
  backend/app/models/user.py
  frontend/src/app/(protected)/admin/layout.tsx
  frontend/src/app/(protected)/admin/page.tsx
  frontend/src/app/(protected)/layout.tsx
  frontend/src/app/(protected)/weaves/[weaveId]/page.tsx
  frontend/src/app/(protected)/weaves/page.tsx
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/DeleteUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/UserMenu.tsx
  frontend/src/components/Common/UserSettingsDrawer.tsx
  frontend/src/components/UserSettings/Appearance.tsx
  frontend/src/components/UserSettings/CoreSettings.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/theme.tsx
Due: frontend-lint, frontend-format

disabling GH workflows for now
  .github/workflows.disabled/dependabot.yml
  .github/workflows.disabled/deploy-production.yml
  .github/workflows.disabled/deploy-staging.yml
  .github/workflows.disabled/detect-conflicts.yml
  .github/workflows.disabled/labeler.yml
  .github/workflows.disabled/lint-backend.yml
  .github/workflows.disabled/playwright.yml
  .github/workflows.disabled/smokeshow.yml
  .github/workflows.disabled/test-backend.yml
  .github/workflows.disabled/test-docker-compose.yml
Due: none

dev cert hack, styling
  docker-compose.override.yml
  frontend/src/components/Weaves/CreateWeaveModal.tsx
  frontend/src/components/World/TreeView/TreeView.tsx
  frontend/src/components/Worlds/CreateWorldModal.tsx
Due: frontend-lint, frontend-format
